

.diviscaja{
    padding: auto;
    border: 5px cornflowerblue solid;
}

.img{
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}