

.diviscaja{
    padding: auto;
    border: 5px cornflowerblue solid;
}

.img{
    height: 400px;
    border-top: 5px blue solid;
    border-bottom: solid blue 5px;
    display: flex;
    border-right: 50%;

}

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}