h1{
    color: brown;
}

img{
    width: 400px;
}

#thirdDiv{
height: 600px;
width: 500px;
background-color: darkslategrey;
padding: 50px;
border: 5px red solid;

}



#spanId{
    font-size: 18px;
    margin: 50px;
}

.divClass{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: center;
}

